.body{
    background-color:rgb(255, 0, 34)
}
.lolo{
    width: 900px;
    height: 700px;
    padding-left: 600px;
}

.celular{
    padding-left:600px ;
}


.lapis{
    padding-left:600px ;
}
.unha{
    width: 1500px;
    height: 700px;
    padding-left: 300px;
}
.pao{
    display: flex;
    padding-left: 30px;

}
.dedo{
    padding-left: 50px;
}
.deus{
    padding-left: 0px;
}
.comp{
    width: 500px;
    height: 500px;
    padding-left: 30px;
}
.fone{
    width: 500px;
    height: 500px;
    padding-left: 30px;
}
.garrafa{
    width:500px ;
    height: 500px;
    padding-left: 30px;
}
.celular{
    padding-left: 100px;
}
.anta{
    width: 500px;
    height: 500px;
    padding-left: 30px;
}
.burro{
    padding-left:0PX;
}
.girafa{
    width: 500px;
    height: 500px;
    padding-left: 30px;
}
.elefante{
    padding-left: 90px;
}
.manteiga{
    width: 500px;
    height: 500px;
    padding-left: 30px;
}
.roupa{
    padding-left: 200px;
}
.cabelo{
    display: flex;
    padding-left: 100px;

}
.teclado{
    width:500px ;
    height: 500px;
    padding-left: 30px;
}
.namorado{
    width:500px ;
    height: 500px;
    padding-left: 30px;
}
.mouse{
    width:500px ;
    height: 500px;
    padding-left: 30px;
}
.quadro{
    padding-left: 200px;
}
.ademar{
    padding-left: 250px;
}
.magna{
    padding-left: 10px;
}
.teve{
    width:500px ;
    height: 500px;
    padding-left: 30px;
}
.cabra{
    width:500px ;
    height: 500px;
    padding-left: 30px;
}
.data{
    width:500px ;
    height: 500px;
    padding-left: 30px;
}
.aparelho{
    padding-left: 50px;
}
.s{
    padding-left: 100px;
}

.casaco{
    padding-left: 0px;
}

.canva{
    width:500px ;
    height: 500px;
    padding-left: 30px;
}
.canvh{
    display: flex;
    background-color:#f5f5dc;
}
.saiu{
    display: block;
    padding-left: 900px;             
}

